@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html, body {
    overflow: hidden;
}

body {
    background-image: linear-gradient(180deg, #0065BC 0%, #004179 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.card-credits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    height: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.tago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tago span {
    font-size: .8rem;
    font-weight: 100;
    margin-bottom: -.5rem;
}
.tago i {
    font-size: .7rem;
}
.tago a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 .5rem;
}
.tago a:hover {
    text-decoration: underline;
}

.henri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.henri span {
    font-size: .8rem;
    font-weight: 100;
    margin-bottom: .6rem;
}
.henri i {
    font-size: .7rem;
}
.henri a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 .5rem;
}
.henri a:hover {
    text-decoration: underline;
}

.voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
    background: #004179;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.voltar:hover {
    background: #0065BC;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .card-credits {
        flex-direction: column;
        width: 30rem;
    }
    .tago {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}