@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body {
    overflow: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
#ss_background {
    width: 100vw;
    height: 120vh;
    
}

.ss_logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.btn-play {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FEFF27, #F28B21);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}
.btn-play:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.432), 0 0 40px rgba(0, 0, 0, 0.432) inset;
}

.info {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #fff;
}

.credits-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.credits-btn:hover {
    color: #FEFF27;
}
